.pricing-custom {
  ul li {
    .elementor-price-list-header {
      padding: 8px 12px;
    }
  }
  ul li:nth-child(2n-1) {
    .elementor-price-list-header {
      background: #eff7ff;
      border-radius: 8px;
    }
  }
  ul li:nth-child(5) {
    .elementor-price-list-price {
      color: var(--e-global-color-secondary);
    }
  }
}

.gallery-custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-post-custom {
}
.archive.category {
  .post-categories-tab {
    .cat-item-all {
      padding: 0px 30px 30px 30px;
      border-bottom: 1px solid #0e0b3d14 !important;
      font-size: 20px;
      color: #0e0b3d75 !important;
      min-width: 160px;
      text-align: center;
      transition: all 0.1s linear;
      &:hover {
        color: var(--e-global-color-accent);
      }
    }
  }
}
.shin-theme {
  .post-categories-tab {
    .wrapper-button-categories {
      .wrapper-button {
        .cat-item-all {
          color: var(--e-global-color-accent);
          border-bottom: 2px solid var(--e-global-color-accent);
        }
      }
    }
  }
}
.post-categories-tab {
  .wrapper-button-categories {
    .wrapper-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4px;
      list-style: none;
      padding: 4px;
      border-radius: 8px;

      .cat-item-all,
      .cat-item {
        a {
          font-size: inherit;
          color: inherit;
        }
        &.current-cat {
          color: var(--e-global-color-accent);
          border-bottom: 2px solid var(--e-global-color-accent);
        }
      }
      .cat-item-all,
      .cat-item {
        padding: 0px 30px 30px 30px;
        border-bottom: 1px solid #0e0b3d14;
        font-size: 20px;
        color: #0e0b3d75;
        min-width: 160px;
        text-align: center;
        transition: all 0.1s linear;
        &:hover {
          color: var(--e-global-color-accent);
        }
      }
    }
  }
  .wrapper-button-categories {
    li {
      list-style: none;
      a {
        font-family: var(--e-global-typography-f3e50b7-font-family), Sans-serif;
        font-size: var(--e-global-typography-f3e50b7-font-size);
        font-weight: var(--e-global-typography-f3e50b7-font-weight);
        line-height: var(--e-global-typography-f3e50b7-line-height);
      }
    }
  }
}
