.pricing-custom {
  ul li {
    .elementor-price-list-header {
      padding: 8px 12px;
    }
  }
  ul li:nth-child(2n-1) {
    .elementor-price-list-header {
      background: #eff7ff;
      border-radius: 8px;
    }
  }
  ul li:nth-child(5) {
    .elementor-price-list-price {
      color: var(--e-global-color-secondary);
    }
  }
  .elementor-price-list-title {
    width: 58%;
    @include tablet {
      width: 80%;
    }
  }
}

.gallery-custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-post-custom {
  .e-search-results {
    width: 500px !important;
  }
}
.archive.category {
  .post-categories-tab {
    .wrapper-button {
      .cat-item:first-child {
        padding: 0px 30px 30px 30px;
        border-bottom: 1px solid #0e0b3d14 !important;
        font-size: 20px;
        color: #0e0b3d75 !important;
        min-width: 160px;
        text-align: center;
        transition: all 0.1s linear;
        &:hover {
          color: var(--e-global-color-accent);
        }
      }
    }
  }
}
.shin-theme {
  .post-categories-tab {
    .wrapper-button-categories {
      .wrapper-button {
        .cat-item:first-child {
          color: var(--e-global-color-accent);
          border-bottom: 2px solid var(--e-global-color-accent);
        }
      }
    }
  }
}
.post-categories-tab {
  .wrapper-button-categories {
    .wrapper-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      padding: 4px;

      .cat-item-all,
      .cat-item {
        a {
          font-size: inherit;
          color: inherit;
        }
        &.current-cat {
          color: var(--e-global-color-accent);
          border-bottom: 2px solid var(--e-global-color-accent);
        }
      }
      .cat-item-all,
      .cat-item {
        padding: 0px 30px 30px 30px;
        border-bottom: 1px solid #0e0b3d14;
        font-size: 20px;
        color: #0e0b3d75;
        min-width: 160px;
        text-align: center;
        transition: all 0.1s linear;
        &:hover {
          color: var(--e-global-color-accent);
        }
      }
    }
  }
  .wrapper-button-categories {
    li {
      list-style: none;
      a {
        font-family: var(--e-global-typography-f3e50b7-font-family), Sans-serif;
        font-size: var(--e-global-typography-f3e50b7-font-size);
        font-weight: var(--e-global-typography-f3e50b7-font-weight);
        line-height: var(--e-global-typography-f3e50b7-line-height);
      }
    }
  }
}

.mai-testimonial {
  .elementor-testimonial__text {
    // min-height: 65px;
  }
  .elementor-testimonial__name {
    font-style: normal !important;
  }
  .elementor-testimonial__title {
    font-style: normal !important;
  }
  .elementor-main-swiper {
    width: 100% !important;
  }
  .elementor-testimonial__cite {
    margin-top: 15px !important;
  }
  .elementor-swiper-button-prev,
  .elementor-swiper-button-next {
    opacity: 1 !important;
    top: -60px !important;
    background-color: var(--e-global-color-accent);
    padding: 8px 10px 8px 10px;
    border-radius: 5px 5px 5px 5px;
    opacity: 100%;
  }
  .elementor-swiper-button-next {
    right: 0px !important;
    &.disable {
      background: #717171;
      pointer-events: none;
    }
  }
  .elementor-swiper-button-prev {
    right: 60px !important;
    left: auto !important;
    &.disable {
      background: #717171;
      pointer-events: none;
    }
  }
}
.epos-whatsapp-icon {
  img {
    width: 65px;
    height: 65px;
    object-fit: contain;
  }
}
body {
  &.menu-open {
    overflow: hidden;
  }
}
.jeg-elementor-kit.jkit-nav-menu {
  .jkit-menu-wrapper {
    max-width: 100% !important;
  }
}

