.header-sticky {
  &.sticky-pinned {
    position: fixed !important;
    top: 0px;
    left: 0;
    width: 100% !important;
  }
}
#main-header {
  li {
    a {
      font-family: "Montserrat", Sans-serif !important;
    }
  }
}
