$color_1: #102870;

/* Mobile View */
.business-map {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  max-width: 1240px;
}
.background-image {
  width: 100%;
  border-radius: 10px;
  opacity: 0.1;
  transition: filter 0.3s ease;
}
.hotspot-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hotspot-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
  &:hover {
    opacity: 1;
    transform: scale(1.05);
    z-index: 8 !important;
  }
}
.hotspot-wrapper.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1 !important;
}
.hotspot-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.info-box {
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: max-content;
  .info-title {
    font-weight: bold;
    color: $color_1;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 5px;
      border-bottom: 1px solid #dfdfdf;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.hotspot-inventory {
  .info-box {
    bottom: -20%;
    left: 100%;
  }
}
.hotspot-newcustomers {
  .info-box {
    bottom: 100%;
    left: 20%;
  }
}
.info-box-content {
  .info-title {
    font-weight: bold;
    color: $color_1;
    margin-bottom: 10px;
  }
}
.info-content {
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 5px;
      border-bottom: 1px solid #dfdfdf;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.info-box.active {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.nav-button-container {
  position: absolute;
  top: -20%;
  right: 0;
  .nav-button {
    border: 0;
    padding: 8px !important;
    img {
      margin-top: 5px;
      width: 60%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .nav-button-container {
    top: -10%;
  }
  .business-container {
    padding-top: 100px;
  }
  .hotspot-container {
    .info-box {
      display: none;
    }
  }
  .hotspot-wrapper {
    display: block;
  }
  .mobile-info-box {
    display: block;
    margin: 50px 20px 30px 20px;
    height: 250px;
    .info-box-content {
      width: 100%;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      background: white;
    }
  }
  //Retail
  .hotspot-supermarket {
    top: 10% !important;
    img {
      width: 79%;
    }
  }
  .hotspot-inventory {
    img {
      width: 67%;
    }
  }
  .hotspot-omnichannel {
    top: 42% !important;
    img {
      width: 78%;
    }
  }
  .hotspot-business {
    top: 23% !important;
    img {
      width: 75%;
    }
  }
  .hotspot-customers {
    top: 27% !important;
    left: 59% !important;
    img {
      width: 85%;
    }
  }
  .hotspot-newcustomers {
    top: 17% !important;
  }
  //
  //F&B page
  .fb-point-of-sale {
    top: 0 !important;
    img {
      width: 75%;
    }
  }
  .fb-self-ordering{
    top:11% !important;
    left: 10% !important;
    img{
      width: 75%;
    }
  }
  .fb-kitchen-management {
    top:8% !important;
    left: 25% !important;
    img{
      width: 75%;
    }
  }
  .fb-food-delivery {
    top: 33% !important;
    left: 27% !important;
    img {
      width: 80%;
    }
  }
  .fb-back-of-house {
    top: 12% !important;
    left: 37% !important;
    img {
      width: 70%;
    }
  }
  .fb-exitsting-customers {
    top: 16% !important;
    left: 64% !important;
    img {
      width: 70%;
    }
  }
  .fb-new-customers {
    top: 5% !important;
    left: 76% !important;
  }
}
@media screen and (max-width: 768px) {
  .nav-button-container {
    top: -20%;
  }
  .business-container {
    padding-top: 80px;
  }
  .hotspot-container {
    .info-box {
      display: none;
    }
  }
  .hotspot-wrapper {
    display: block;
  }
  .info-box-content {
    display: none;
  }
  .info-box-content.active {
    display: block;
  }
  //retail page
  .hotspot-supermarket {
    top: 7% !important;
    img {
      width: 41%;
    }
  }
  .hotspot-inventory {
    img {
      width: 67%;
    }
  }
  .hotspot-omnichannel {
    top: 25% !important;
    img {
      width: 30%;
    }
  }
  .hotspot-business {
    top: 12% !important;
    img {
      width: 47%;
    }
  }
  .hotspot-customers {
    top: 15% !important;
    left: 58% !important;
    img {
      width: 65%;
    }
  }
  .hotspot-newcustomers {
    top: 9% !important;
  }
  //
  //F&B page
  .fb-point-of-sale {
    top: 0 !important;
    img {
      width: 45%;
    }
  }
  .fb-self-ordering{
    top:6% !important;
    left: 10% !important;
    img{
      width: 27%;
    }
  }
  .fb-kitchen-management {
    top:4% !important;
    left: 25% !important;
    img{
      width: 27%;
    }
  }
  .fb-food-delivery {
    top: 18% !important;
    left: 26% !important;
    img {
      width: 30%;
    }
  }
  .fb-back-of-house {
    top: 5% !important;
    left: 37% !important;
    img {
      width: 52%;
    }
  }
  .fb-exitsting-customers {
    top: 8% !important;
    left: 62% !important;
    img {
      width: 75%;
    }
  }
  .fb-new-customers {
    top: 3% !important;
    left: 75% !important;
  }
}
@media screen and (width: 768px) and (height: 1024px) {
  .nav-button-container {
    top: -10%;
  }
  .business-container {
    padding-top: 80px;
  }
  .hotspot-container {
    .info-box {
      display: none;
    }
  }
  .hotspot-wrapper {
    display: block;
  }
  .info-box-content {
    display: none;
  }
  .info-box-content.active {
    display: block;
  }
  //retail
  .hotspot-supermarket {
    top: 11% !important;
    img {
      width: 55%;
    }
  }
  .hotspot-inventory {
    img {
      width: 67%;
    }
  }
  .hotspot-omnichannel {
    top: 38% !important;
    img {
      width: 57%;
    }
  }
  .hotspot-business {
    top: 19% !important;
    img {
      width: 60%;
    }
  }
  .hotspot-customers {
    top: 25% !important;
    left: 58% !important;
    img {
      width: 65%;
    }
  }
  .hotspot-newcustomers {
    top: 15% !important;
    left: 72% !important;
  }
  //
  //F&B page
  .fb-point-of-sale {
    top: 0 !important;
    img {
      width: 55%;
    }
  }
  .fb-self-ordering{
    top:10% !important;
    left: 10% !important;
    img{
      width: 55%;
    }
  }
  .fb-kitchen-management {
    top:7% !important;
    left: 25% !important;
    img{
      width: 55%;
    }
  }
  .fb-food-delivery {
    top: 29% !important;
    left: 27% !important;
    img {
      width: 60%;
    }
  }
  .fb-back-of-house {
    top: 10% !important;
    left: 37% !important;
    img {
      width: 55%;
    }
  }
  .fb-exitsting-customers {
    top: 13% !important;
    left: 64% !important;
    img {
      width: 70%;
    }
  }
  .fb-new-customers {
    top: 5% !important;
    left: 76% !important;
  }
}
@media screen and (width: 820px) and (height: 1180px) {
  .nav-button-container {
    top: -10%;
  }
  .business-container {
    padding-top: 80px;
  }
  .hotspot-container {
    .info-box {
      display: none;
    }
  }
  .hotspot-wrapper {
    display: block;
  }
  .info-box-content {
    display: none;
  }
  .info-box-content.active {
    display: block;
  }
  //retail
  .hotspot-supermarket {
    top: 11% !important;
    img {
      width: 55%;
    }
  }
  .hotspot-inventory {
    img {
      width: 67%;
    }
  }
  .hotspot-omnichannel {
    top: 38% !important;
    img {
      width: 57%;
    }
  }
  .hotspot-business {
    top: 19% !important;
    img {
      width: 60%;
    }
  }
  .hotspot-customers {
    top: 25% !important;
    left: 58% !important;
    img {
      width: 65%;
    }
  }
  .hotspot-newcustomers {
    top: 15% !important;
    left: 72% !important;
  }
  //
  //F&B page
  .fb-point-of-sale {
    top: 0 !important;
    img {
      width: 55%;
    }
  }
  .fb-self-ordering{
    top:10% !important;
    left: 10% !important;
    img{
      width: 55%;
    }
  }
  .fb-kitchen-management {
    top:7% !important;
    left: 25% !important;
    img{
      width: 55%;
    }
  }
  .fb-food-delivery {
    top: 29% !important;
    left: 27% !important;
    img {
      width: 60%;
    }
  }
  .fb-back-of-house {
    top: 10% !important;
    left: 37% !important;
    img {
      width: 55%;
    }
  }
  .fb-exitsting-customers {
    top: 13% !important;
    left: 64% !important;
    img {
      width: 70%;
    }
  }
  .fb-new-customers {
    top: 5% !important;
    left: 76% !important;
  }
}
